.mc_title {
    width: 90%;
    height: 100px;
    margin: 20px auto;
    background: #bcbcbc;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #ccc;
}

.mc_title_left {
    float: left;
    line-height: 100px;
    margin-left: 30px;
    color: #fff;
    font-size: 16px;
}

.mc_title_left span {
    margin-right: 30px;
}

.mc_title_right {
    float: right;
    width: 145px;
    height: 40px;
    background: #169bd5;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    box-shadow: 2px 2px 2px #333;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    margin: 30px 20px 0 0;
}

.mc_title_right:active {
    border: 1px solid #f09f1b;
    color: #f09f1b;
}

.mc_list {
    width: 90%;
    height: 300px;
    /* background: #ccc; */
    margin: 0 auto;
}

.account_list_title span {
    display: block;
    float: left;
    width: 5px;
    height: 20px;
    background: black;
    margin-right: 5px;
}

.account_list_cont {
    width: 100%;
    height: 300px;
    /* background: #ccc; */
}