.password_box {
    width: 35%;
    height: 300px;
    background: #ccc;
    /* margin: 20px auto; */
    margin: 30px;
    border-radius: 5px;
}

.password_box div {
    margin-top: 10px;
}

.password_box button:nth-child(2) {
    margin-left: 55px;
}