/* .sta_crumb {
    width: 100%;
    height: 40px;
    background: #f2f2f2;
    line-height: 40px;
    box-sizing: border-box;
    padding-left: 20px;
}

.sta_crumb a {
    color: #333;
}

.sta_crumb a:hover {
    color: #daa520;
}

.bottom_line {
    border-bottom: 1px solid #333;
} */

.sta_newBalance {
    width: 100%;
    /* height: 160px; */
    background: #fff;
    box-sizing: border-box;
    padding: 15px 20px;
}

.sta_nb_title {
    font-weight: 600;
    margin-bottom: 10px;
}

.sta_nb_title span {
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}

.sta_nb_cont {
    width: 100%;
    height: 120px;
}

.sta_nb_cont_move {
    float: left;
    width: 95%;
    height: 100%;
    overflow: hidden;
}

.cont_move_hide {
    width: 200%;
    height: 100%;
    background: #f2f2f2;
}

.hide_Mleft {
    margin-left: -700px;
}

.sta_nb_cont_but {
    float: right;
}

.cont_m_h_item {
    width: 120px;
    height: 92%;
    margin-top: 5px;
    margin-right: 60px;
    float: left;
    background: #fff;
}

.sta_item_log {
    width: 100%;
    height: 35%;
    text-align: center;
}

.sta_item_log img {
    width: 30%;
    height: 100%;
}

.Balance {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
}

.com_name {
    text-align: center;
}

.sta_nb_cont_but {
    width: 5%;
}

.sta_nb_cont_but span {
    display: block;
    width: 53%;
    height: 100%;
    margin-top: 40px;
    margin-left: 13px;
    text-align: center;
    cursor: pointer;
}

.sta_ts_cont {
    width: 100%;
    height: 175px;
    background: #f2f2f2;
    box-shadow: 4px 4px 4px #ccc;
    box-sizing: border-box;
    padding: 10px;
}

.sta_ts_query {
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #fff;
}

.sta_ts_query_item {
    float: left;
    margin-left: 30px;
}

.sta_ts_res {
    width: 100%;
    height: 120px;
}

.sta_ts_res_item {
    width: 33%;
    height: 100%;
    float: left;
}

.sta_ts_res_item div {
    height: 50%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
}

.sta_item_val {
    font-weight: 700;
}

.sta_chart {
    position: relative;
}

.sta_chart_query {
    width: 100%;
    height: 30px;
}

.sta_chart_query_left {
    float: left;
    margin-left: 40px;
}

.sta_chart_query_left span {
    margin-left: 30px;
    cursor: pointer;
}

.sta_chart_query_left span.active {
    color: #daa520;
}

.sta_chart_query_left span:active {
    color: #daa520;
}

.sta_chart_query_right {
    float: right;
}

.sta_chart_query_right select {
    margin-right: 40px;
}

.sta_draw_echart {
    width: 100%;
    height: 300px;
    /* background: #ccc; */
}

.left_title {
    width: 20px;
    /* height: 120px; */
    /* background: red; */
    position: absolute;
    top: 45%;
    left: 5%;
}

.bottom_title {
    position: absolute;
    bottom: 5%;
    left: 43%;
}